<md-card [ngStyle]="{'padding': '0px'}">
  <md-toolbar>Login</md-toolbar>

<table [ngStyle]="{'margin': '20px'}"  class="example-full-width" cellspacing="0">
  <tr>
   <td><md-form-field class="example-full-width">
     <input mdInput placeholder="User Name" [(ngModel)]="user" >
   </md-form-field></td>
 </tr>
 <tr>
  <td><md-form-field class="example-full-width">
    <input mdInput placeholder="Passphrase" [(ngModel)]="password" type="password" >
  </md-form-field></td>
</tr>
</table>
<button [ngStyle]="{'margin': '10px'}" md-raised-button color="primary" (click)="submitPass()">Submit</button>



</md-card>
