<md-card id="hide" [ngStyle]="{'margin-bottom': '20px'}">
  <div class="row">
    <div class="col-sm-3 col-md-4 col-lg-2 cell" >
    <!--  <md-select placeholder="Employee" [(ngModel)]="semp">
        <md-option *ngFor="let emp of employee" [value]="emp.ID">
          {{ emp.name }}
        </md-option>
      </md-select>-->
      <md-form-field class="example-full-width">
        <input mdInput disabled placeholder="User" [(ngModel)]="uname">
      </md-form-field>

    </div>
    <div class="col-sm-3 col-md-4 col-lg-2 cell">

      <md-form-field class="example-full-width">
        <input mdInput placeholder="Client Name" [(ngModel)]="name">
      </md-form-field>
    </div>
    <div class="col-sm-3 col-md-4 col-lg-2 cell">

      <md-form-field class="example-full-width">
        <input mdInput placeholder="Client Phone No" [(ngModel)]="phone" type=number>
      </md-form-field>
    </div>
    <div class="col-sm-3 col-md-4 col-lg-2 cell">

      <md-form-field class="example-full-width">
        <input mdInput placeholder="Barcode" [(ngModel)]="barcode" type=text (change)="goGet()">
      </md-form-field>
    </div>
    <!--<div class="col-sm-3 col-md-4 col-lg-2 cell">
      <md-form-field>
        <input type="text" mdInput [matAutocomplete]="auto" placeholder="Search" [(ngModel)]="sbarcode" (change)="goGet2()">
      </md-form-field>

      <md-autocomplete #auto="mdAutocomplete">
        <md-option *ngFor="let option of getOneItem" [value]="option.id" (click)="goGet()">
          {{ option.rate }}
        </md-option>
      </md-autocomplete>
    </div> -->
    <div class="col-sm-3 col-md-4 col-lg-2 cell" [ngStyle]="{'display': 'flex'}">
      <button [ngStyle]="{'margin': '10px'}" md-raised-button color="primary" (click)="goGet()">Add</button>
      <button [ngStyle]="{'margin': '10px'}" md-raised-button color="primary" (click)="showCate('overlay');updateBill();" *ngIf="show==false">Paid</button>
      <button class='bill' [ngStyle]="{'margin': '10px'}" md-raised-button color="primary" (click)="goPrint('bill')" *ngIf="show==true">Print</button>
      <button [routerLink]="['/goback']" [ngStyle]="{'margin': '10px'}" md-raised-button color="primary" *ngIf="show==true">Refresh</button>
    </div>
  </div>
</md-card>
<md-card id="bill">

  <h3><b><u>{{aname}}</u></b></h3>
  <p>Address: {{add}}</p>
  <p>Phone Number: {{phonen}},</p>
  <p>Whatsapp No: {{whatsapp}}</p>
  <p>Invoice No: <b [ngStyle]="{'font-size': '20px'}">{{invoiceNo}}</b></p>
  <br>
  <table class="table">
    <tr>
      <th [ngStyle]="{'width':'14%'}"><b>Sr</b></th>
      <th [ngStyle]="{'width':'30%'}"><b>Description</b></th>
      <th [ngStyle]="{'width':'14%'}"><b>Quantity</b></th>
      <th *ngIf="gstshow==false" [ngStyle]="{'width':'14%'}"><b>GST</b></th>
      <th [ngStyle]="{'width':'14%'}">Rate</th>
      <th [ngStyle]="{'width':'14%'}"><b>Amount</b></th>
    </tr>
    <tr *ngFor="let item of allBroughtItem; let i =index;">
      <td>
        {{i+1}}
        <p *ngIf="gstshow==false" (click)="remove(i)">x</p>
      </td>
      <td>
        {{item.subcat}}
      </td>
      <td [ngStyle]="{'padding-top':'0px'}">
        <md-form-field class="example-full-width">
          <input mdInput placeholder="" type="number" [(ngModel)]="item.quantity" min="1" (change)="updateBill()">
        </md-form-field>
      </td>
      <td *ngIf="gstshow==false">
        <md-select [ngStyle]="{'padding': '0px'}" placeholder="" [(ngModel)]="item.gst" (change)="updateBill()">
          <md-option [value]="0">0</md-option>
          <md-option [value]="5">5</md-option>
          <md-option [value]="12">12</md-option>
          <md-option [value]="18">18</md-option>
        </md-select>
      </td>
      <td>
        <table>
          <tr>
            <td>
              {{item.rate*item.quantity}}
            </td>
          </tr>
          <tr>
            <td>

              <table class="table">
                <tr>
                  <td class="nobe">CGST</td>
                  <td class="nobe">{{item.gst/2}}%</td>
                  <td class="nobe">{{(((item.gst/2)*item.rate*item.quantity)/100)}}</td>
                </tr>
                <tr>
                  <td class="nobe">SGST</td>
                  <td class="nobe">{{item.gst/2}}%</td>
                  <td class="nobe">{{(((item.gst/2)*item.rate*item.quantity)/100)}}</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
      <td>{{(item.rate*item.quantity)+((item.gst*item.rate*item.quantity)/100)}}</td>
    </tr>
    <tr *ngIf="amount!=0">
      <td></td>
      <td></td>
      <td></td>
      <td><b>Total</b></td>
      <td><b>{{amount}}</b></td>
    </tr>
  </table>
</md-card>

<div id="overlay">
  <div id="content">
    <button (click)="saveInvoice();hideCate('overlay');">Save</button>

    <button (click)="hideCate('overlay')">Close</button>
  </div>
</div>

<div id="overlay1">
  <div id="content1">
    <md-form-field>
      <input type="text" mdInput [matAutocomplete]="auto" placeholder="Search" [(ngModel)]="sbarcode" (change)="goGet()">
    </md-form-field>

    <md-autocomplete #auto="mdAutocomplete">
      <md-option *ngFor="let option of getOneItem" [value]="option.id" (click)="goGet()">
        {{ option.rate }}
      </md-option>
    </md-autocomplete>
    <button (click)="hideCate('overlay1')">Close</button>

  </div>
</div>
