.example-container {
  width: 100%;
  min-height: 600px;
  background: transparent;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  width:220px;
}
.toolbar{
  background: #2196f3;
color: white;
margin-bottom: 10px;
}
.right{
  float: right;
}
