
<md-card id="carda" [ngStyle]="{'padding': '0px'}">
  <md-toolbar>Barcode</md-toolbar>

  <table [ngStyle]="{'margin': '20px'}" class="example-full-width" cellspacing="0">
<tr><td>
  <md-select placeholder="Supplier" [(ngModel)]="supp">
  <md-option *ngFor="let sup of suppliers" [value]="sup.ID">
    {{ sup.name }}
  </md-option>
</md-select>
{{supp}}</td></tr>
<tr><td>
  <md-form-field>
<input mdInput [(ngModel)]="from" [mdDatepicker]="picker" placeholder="From">
<md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
<md-datepicker #picker></md-datepicker>
</md-form-field>
</td></tr>
<tr><td>
  <md-form-field>
<input mdInput [(ngModel)]="to" [mdDatepicker]="picker1" placeholder="To" (change)="getInfo(from,to)">
<md-datepicker-toggle mdSuffix [for]="picker1" (change)="getInfo(from,to)"></md-datepicker-toggle>
<md-datepicker #picker1 (change)="getInfo(from,to)"></md-datepicker>
</md-form-field>
</td></tr>
<tr><td>
<md-select *ngIf="details!=''" placeholder="Purchase" [(ngModel)]="PID" (change)="done(from,to)">
<md-option *ngFor="let item1 of details" [value]="item1.PID">
InvoiceNo:{{item1.invoiceNo}}, InvoiceDate:{{item1.invoicedate}}
</md-option>
</md-select>
</td></tr>
<tr><td>
  <button [ngStyle]="{'margin': '10px'}" md-raised-button color="primary"  (click)="getInfo(from,to)">Get</button>
  <mat-slide-toggle [(ngModel)]="sal" (change)="done(from,to);">Print All</mat-slide-toggle>

  <button [ngStyle]="{'margin': '10px'}" md-raised-button color="primary"  (click)="goPrint('here')">Print</button>
  </td></tr>
</table>
</md-card>



<div id="here" [ngStyle]="{'background': 'white','width':'595','margin':'auto','margin-bottom':'25px'}"></div>
